.visible {
    display: block;
  }
  
  .loader,
  .error {
    display: none;
  }
  
  .cat-info {
    margin-top: 16px;
    display: flex;
    gap: 16px;
    width: 600px;
    align-items: center;
  }
  
  
  .loader {
    display: block;
    position: relative;
    height: 12px;
    width: 80%;
    border: 1px solid #fff;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .loader::after {
    content: '';
    width: 40%;
    height: 100%;
    background: #a4929a;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    animation: animloader 1s linear infinite;
  }
  
  @keyframes animloader {
    0% {
      left: 0;
      transform: translateX(-100%);
    }
  
    100% {
      left: 100%;
      transform: translateX(0%);
    }
  }
  
  .breed-select {
    display: none;
  }